[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
sphinx = "*"
black = "==20.8b1"
isort = "*"

[packages]
cc_pyscript_sample_repo = {editable = true, path = "."}

[requires]
python_version = "3.7"
